REST-NewApp/src/main/resources/CustomerSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/CustomerSchema" xmlns:tns="http://www.example.org/CustomerSchema"
	elementFormDefault="qualified">

	<xs:element name="customer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="first-name" type="xs:string" />
				<xs:element name="last-name" type="xs:string" />
				<xs:element name="address" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>



</xs:schema>